{{> header}} 
{{> navbar}}  

    <h1>Pieter Brueghel</h1>
    <div class="container" align="center">
    <img src="images/pieter brueghel el viejo (RETRATO).jpg" alt="Retrato de Pieter Brueghel" width="300" height="400">
    <br>
    <p><b>(Breda, Países Bajos, h. 1525 - Bruselas, 1569) Pintor holandés. Principal pintor flamenco del siglo XVI, en cuya obra culmina la tradición pictórica iniciada en el siglo anterior por Jan van Eyck, en la actualidad es considerado una de las grandes figuras de la historia de la pintura. Realizó sobre todo cuadros de paisaje, de género y de escenas campesinas, en los que con un estilo inspirado en el Bosco reflejó la vida cotidiana con realismo, abundancia de detalles y un gran talento narrativo. <br>
        Pieter se crio en la ciudad de Bruselas con una familia de pintores. Formados ambos hermanos con su padre, también su abuela Mayken Verhulst les enseñaría la utilización de la acuarela. A la edad de cinco años, Pieter Brueghel quedó huérfano de padre, pero heredó toda su tradición artística. El joven artista llegó a aprender con el pintor de paisajes flamenco Gillis van Coninxloo; años más tarde, se casó con la hija de su maestro. Viajó a Francia e Italia y pasó algún tiempo allí hasta que regresó a Amberes, lugar en el que finalmente murió.
    </b></p>
    <br><br>
              <img src="images/Caída_de_los_ángeles_rebeldes.jpg" alt="Caida de los angeles rebeldes" style="width:100%;" height="300" width="500" >
                <p>Caida de los angeles rebeldes</p>
                <br><br>
              <img src="images/El_Misántropo.jpg" alt="El Misántropo" style="width:100%;" height="300" width="500" >
                <p>El Misántropo</p>
                <br><br>
              <img src="images/El_triunfo_de_la Muerte.jpg" alt="El triunfo de la muerte" style="width:100%;" height="300" width="500" >
                <p>El triunfo de la muerte</p>
                <br><br>
              <img src="images/La_torre_de_Babel.jpg" alt="La torre de babel" style="width:100%;" height="300" width="500" >
                <p>La torre de babel</p>
                <br><br>
              <img src="images/twelve_proverbs.jpg" alt="Twelve Proverbs" style="width:100%;" height="300" width="500" >
                <p>Twelve Proverbs</p>
                <br><br>
    </div>
    <br><br><br><br><br><br>
    <p>Hola:D</p>

{{> footer}}