{{> header}} 
{{> navbar}}  

    <h1>Alexandre Cabanel</h1>
    <div class="container" align="center">
    <img src="images/Alexandre Cabanel (RETRATO).jpg" alt="Retrato de Alexandre Cabanel" width="350" height="400">
    <br><br>
    <p><b> Alexandre Cabanel fue un importante pintor francés, pero un no menos importante profesor de arte que tuvo centenares de alumnos, muchos de los cuales triunfaron en mayor o menor medida dentro de la pintura siguiendo las lecciones de este maestro. Cabanel fue uno de esos academicistas que siguieron la tradición pictórica (en el caso de Cabanel muy ligada al manierismo) adaptándola al siglo XIX, cuando ya se presentía que el arte empezaba a girar en otras direcciones. <br>
        Muy joven ya dio buenas muestras de su talento ganando medallas como por ejemplo la prestigiosa medalla en el Salón de Roma. Precisamente en Italia absorbería su característico estilo. Su fama y prestigio fueron medrando año a año hasta convertirse en uno de los artistas más aclamado por coleccionistas e instituciones no sólo francesas, sino de todo el mundo. El emperador Napoleón III se consideraba a sí mismo un fan de Cabanel.     <br>
        Sobre todo pintor de historia, además de un excelente retratista, Cabanel supo respetar la tradición pictórica occidental, pero no rechazaba del todo movimientos como el romanticismo, que se respira temáticamente en muchas de sus obras. Aunque eso sí… ni hablar de impresionismo… Para él ese grupo de manchas caóticas no era pintura. Sentía una especial antipatía por Manet, aunque la animadversión era mutua. <br>
    </b></p>
    <br><br>
              <img src="images/El angel _caido.jpg" alt="El Angel Caido" style="width:100%;" height="300" width="500" >
                <p>El angel Caido</p>
                <br><br>
              <img src="images/Harmony.jpg" alt="Harmony" style="width:100%;" height="300" width="500" >
                <p>Harmony</p>
                <br><br>
              <img src="images/Phaedra.jpg" alt="Phaedra" style="width:100%;" height="300" width="500" >
                <p>Phaedra</p>
                <br><br>
              <img src="images/Saint_Monica.jpg" alt="Saint_Monica" style="width:100%;" height="300" width="500" >
                <p>Saint Monica</p>
                <br><br>
              <img src="images/The_evening_angel.jpg" alt="The Evening Angel" style="width:100%;" height="300" width="500" >
                <p>The Evening Angel</p>
                <br><br>
    </div>
    <br><br><br><br><br><br>
    <p>Hola:D</p>

{{> footer}}