{{> header}} 
{{> navbar}}  

    <h1>Hola!</h1>    
    <br>
    <div class="container" align="center">
    <p>Mi nombre es America Renee Gonzalez Hernandez. He realizado esta pagina web por un trabajo escolar.</p>
    <br><br>
    <img src="images/contacto.jpg" alt="America Gonzalez" width="300" height="400" > 
    <br><br>
    <p>Para cualquier duda o aclaracion, manda un correo a <b>amerikaglez65@gmail.com</b></p>
    </div>
    <br><br><br><br><br><br>
    <p>Hola:D</p>

{{> footer}}