{{> header}} 
{{> navbar}}  

    <h1>Jean-Leon Geróme</h1>  
    <div class="container" align="center">
        <img src="images/Jean-Léon Gerôme.jpg" alt="Retrato Jean-Leon Geróme" width="400" height="400">
        <br>
        <p><b> Jean-Léon Gérôme fue un academicista francés que realizó obras de temática histórica y mitológica llevando a lo más alto el arte académico francés. Como Bouguereau, otro ilustre artista del académicismo, Gérôme fue principio fue un convencido anti-impresionista, pero poco a poco se fue dando cuenta de la importancia del movimiento, llegando a aceptarlo. <br>
            Jean-Léon Gérôme fue el clásico academicista: Excelente estudiante, viajó a Italia para conocer a los antiguos, ganó premios oficiales, expuso en los salones del estado, fue admirado por críticos y querido por el público, lo enchufaron como maestro de la Escuela de Bellas Artes, fue llamado como decorador de palacios y nombrado Caballero de la Legión de Honor. Un sinónimo de popularidad y prestigio. <br>
            Con 30 años Gérôme viaja a Turquía y Egipto. Estos viajes por oriente influyeron notablemente en su obra y bastantes cuadros de la época están inspirados en ese exotismo. <br>
            En esos años también empieza a nacer la «moda decadente» del impresionismo, pero después de la exposición de Édouard Manet en 1884, finalmente admitió que «no era tan malo como pensaba». <br>
            Murió en su taller en 1904, justo cuando nacían las vanguardias, antítesis de su obra. Dicen que al espichar se encontraba delante de un retrato de su admirado Rembrandt.
        </b></p>
        <br><br>
              <img src="images/Consummatum_est.jpg" alt="Consummatum Est" style="width:100%;" height="300" width="500" >
              <p>Consummatum Est</p>
              <br><br>
              <img src="images/Diogenes.jpg" alt="Diogenes" style="width:100%;" height="300" width="500" >
                <p>Diogenes</p>
                <br><br>
              <img src="images/Mercado_de_esclavos.jpg" alt="Mercados de esclavos" style="width:100%;" height="300" width="500" >
                <p>Mercados de esclavos</p>
                <br><br>
              <img src="images/Pollice_verso.jpg" alt="Pollice Verso" style="width:100%;" height="300" width="500" >
                <p>Pollice Verso</p>
                <br><br>
              <img src="images/The_snake_charmer.jpg" alt="The Snak Charmer" style="width:100%;" height="300" width="500" >
                <p>The Snak Charmer</p>
                <br><br>
    </div>
    <br><br><br><br><br><br>
    <p>Hola:D</p>

{{> footer}}