{{> header}} 
{{> navbar}}  

    <h1>Henri Rousseau</h1>
    <div class="container" align="center">
    <img src="images/Henri Rousseau_(RETRATO).jpg" alt="Retrato de Henri Rousseau" width="400" height="400">
    <br>
    <p><b> Henri Julien Félix Rousseau, también llamado «el aduanero» fue uno de esos artistas con muy poca o nula formación académica, pero gran frescura, que es exactamente lo que necesitaba el arte moderno definales del siglo XIX. <br>
        Un arte, el naíf (ingenuo), que combina la ingenuidad formal con una cierta sofisticación temática y compositiva, y que acabaría influyendo notablemente en vanguardias como el fauvismo o el surrealismo, con el mismísimo Picasso a la cabeza. <br>
        Rousseau no se dedicó a la pintura hasta 1893 (49 años). Antes fue empleado de las oficinas fiscales municipales de París (de ahí su sobrenombre). Una vez abandonado su puesto y metido en el mundo de la pintura fue alabado por sus colegas, pero ignorado o directamente ridiculizado por los críticos. Vivía de una pequeña pensión y de los retratos que pintaba a sus vecinos. <br>
        Picasso, celebró en 1908 en su taller del Bateau-Lavoir una velada en su honor como una mezcla de burla y homenaje (una soirée como en la película «La cena de los idiotas»). El aduanero, varias copas después dijo al español: «Somos los dos pintores más grandes de nuestra época, tú en el estilo egipcio y yo en el moderno…». <br>
        Su pintura destaca por un enorme detallismo (después de todo, Rousseau admiraba el arte académico), el uso de colores intensos y modulados sutilmente, la perspectiva acientífica y la temática exótica o directamente onírica. Esta forma de representar los sueños fue muy alabada por los surrealistas años después. <br>
        Debido a esta falta de academicismo, esa forma de pintar nacida en realidad de su ignorancia, fue precisamente su sello característico y lo que le valió la inmortalidad. <br>
        Pintar sin saber pintar (quizás si un poquito)… Y a la mierda 5 siglos de tradición pictórica.
    </b></p>
    <br><br>
            <img src="images/American_Indian_Struggling_with_a_Gorilla.jpg" alt="AMerican Indian Struggling With A Gorilla" style="width:100%;" height="300" width="500" >
            <p>American Indian Struggling With A Gorilla</p>
<br><br>
            <img src="images/La_encantadora_de_serpientes.jpg" alt="La encantadora de serpientes" style="width:100%;" height="300" width="500" >
            <p>La encantadora de serpientes</p>
<br><br>
            <img src="images/Tour_Eiffel.jpg" alt="Tour Eiffel" style="width:100%;" height="300" width="500" >
            <p>Tour Eiffel</p>
<br><br>
            <img src="images/Una_noche_de_carnaval.jpg" alt="Una Noche De Carnaval" style="width:100%;" height="300" width="500" >
            <p>Una Noche De Carnaval</p>
<br><br>
            <img src="images/Yo_mismo.jpg" alt="Yo Mismo" style="width:100%;" height="300" width="500" >
            <p>Yo Mismo</p>

    <br><br><br><br><br><br>
    <p>Hola:D</p>

{{> footer}}